CASignatureAlgorithms {{ sshd_ca_signature_algorithms | replace(', ', ',') }}
Ciphers {{ sshd_ciphers | replace(', ', ',') }}
GSSAPIKexAlgorithms {{ sshd_gssapi_kex_algorithms | replace(', ', ',') }}
HostKeyAlgorithms {{ sshd_host_key_algorithms | replace(', ', ',') }}
KexAlgorithms {{ sshd_kex_algorithms | replace(', ', ',') }}
MACs {{ sshd_macs | replace(', ', ',') }}
PubkeyAcceptedAlgorithms {{ sshd_pubkey_accepted_algorithms | replace(', ', ',') }}
RSAMinSize {{{ sshd_required_rsa_size }}
